#div{
    position: absolute;
    left: 30vw;
    right: 30vw;
    top: 20%;
   
    height: 20%;
    border: 1px solid;
    background-color: navajowhite;
}
#para{
    color:blue;
    font-size: 20px;
    text-align: center;
}
#ok{
    position: absolute;
    padding: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    margin-right: 50%;
    margin-left: 5px;
 
   
}
#ok img{
    margin-left: 250px;
}
#s{
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    bottom: 0;
    height: 2vh;

    background-color: green;
    animation: s 5s linear;
}
@keyframes s{
    100%{
        width: 0;
    }

}

